* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

header .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 2px;
    cursor: pointer;
}

header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu a{
    padding: 10px 20px;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

header .menu a:hover {
    background-color: black;
    color: white;
    border-radius: 50px;
    transition: 0.6s;
}

header .btn {
    cursor: pointer;
    display: none;
}

.container {
    display: flex;
    width: 100%;
    height: 90vh;
    background: #e0dcdc;
}

.two-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.two-section .text-section {
    width: 100%;
    max-width: 50%;
}

.two-section .text-section h1{
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation-delay: .8s;
}

.two-section .text-section p{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 20px 0px 50px 0px;
    animation-delay: 1s;
}

.two-section .text-section a{
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 25px;
    margin-right: 10px;
}

.two-section .text-section .btn1{
    padding: 15px 20px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
}

.two-section .text-section .btn1:hover{
    color: white;
    background-color: black;
    transition: 0.4s;
}

.two-section .image-section {
    width: 100%;
    max-width: 50%;
}

.image-section img {
    width: 650px;
    border-radius: 25px;
}

/*animation*/

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.banner-animation {
    opacity: 0;
    transform: translateY(50px);
    animation: moveup 0.5s linear forwards;
}

/*About us*/

.about-container {
    width: 100%;
    height: 180vh;
}

.heading {
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.heading h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.heading h1 span {
    color: red;
}

.heading p {
    font-size: 1.2rem;
}

.two-sec {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.two-sec .image-sec {
    width: 100%;
    max-width: 50%;
}

.image-sec img {
    width: 550px;
    height: 143vh;
}

.text-sec h2 {
    font-size: 2rem;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.text-sec p {
    font-size: 1.5 rem;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.text-sec ul {
    padding-bottom: 15px;
}

.text-sec ul li {
    padding: 5px 0;
}

.text-sec img {
    width: 100%;
    height: 600px;
}

.choose {
    width: 100%;
    background-color: #e0dcdc;
    height: 90vh;
}

.four-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.four-sec .choose-main {
    width: 100%;
    max-width: 350px;
    height: 400px;
    margin: 15px;
    padding: 20px 10px 50px 10px;
    text-align: center;
    background-color: rgba(164, 157, 157, 0.631);
    color: black;
    border-radius: 25px;
}

.choose-main h1 {
    font-size: 2rem;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
}

.choose-main p {
    font-size: 1rem;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.choose-main a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
}

.choose-main a:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.choose-ans {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-ans-sub {
    width: 100%;
    max-width: 300px;
    height: 350px;
    text-align: center;
    margin: 0 2px;
}

.choose-ans-sub i {
    width: 80px;
    height: 80px;
    padding: 15px;
    font-size: 3rem;
    border-radius: 50%;
}

.choose-ans-sub h1 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    padding: 20px 0;
}

.choose-ans-sub p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 0 10px;
}

.choose-ans-sub:hover {
    width: 100%;
    width: 350px;
    height: 400px;
    background-color: rgba(164, 157, 157, 0.631);
    color: black;
    border-radius: 25px;
    transition: 0.6s;
}

.products-container {
    width: 100%;
    height: 130vh;
}

.products-container .product-gallery {
    margin: 0 10%;
    text-align: center;
}

.product-gallery .product-image-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-image {
    width: 350px;
    height: 350px;
}

.product-image:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image img {
    width: 200px;
    height: 200px;
}

.product-image h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

.product-image p {
    font-size: 1rem;
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 40vh;
    background-color: rgba(164, 157, 157, 0.631);
}

footer .four-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.f-sec h2 {
    font-size: 1.5rem;
    padding: 20px;
}

.f-sec h2 span {
    color: red;
}

.f-sec h2 i {
    padding: 10px;
}

.f-sec h3 {
    font-size: 1rem;
    padding: 0 30px;
}

.f-sec a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 1.5rem;
    padding: 10px;  
    border-radius: 50%;
}

.f-sec a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
}


/*Responsiveness*/

@media screen and (max-width: 1060px) {
    header .btn {
        display: block;
        color: black;
    }

    header .menu {
        position: fixed;
        flex-direction: column;
        background-color: #e0dcdc;
        min-width: 100%;
        height: 100vh;
        top: 0; right: -100%;
        padding: 80px 50px;
        transition: 0.6s;
        transition-property: left;
    }

    header .menu.active {
        right: 0;
    }

    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

}